.footer{
   background-color: var(--cor12);
}

.footerContainer{
   padding-top: 60px;
   padding-bottom: 60px;

   display: grid;
   grid-template-columns: 3fr 5fr 4fr;
   gap: 60px;
}

.footer a:hover{
   color: var(--cor1);
}

.footerContainer h3{
   margin-bottom: 32px;
}

.contatoLinks, .contatoAdress{
   margin-bottom: 16px;
}

.contatoLinks::after, .contatoAdress::after {
   content: '';
   display: block;
   height: 2px;
   max-width: 360px;
   background-color: var(--cor11);
   margin-top: 16px;
}

.contatoAdress{
   margin-bottom: 32px;
}

.contatoLinks li, .contatoAdress li, .footerNav li{
   margin-bottom: 16px;
}

.contatoRedes{
   display: flex;
   gap: 32px;
}

.footerCopy{
   grid-column: 1/-1;
   margin-top: 40px;
}

.contatoRedesFacebook:hover path, 
.contatoRedesInstagram:hover path, 
.contatoRedesYoutube:hover path{
   transition: 0.3s;
}

.contatoRedesFacebook:hover path{
   fill: #3b5998 ;
}

.contatoRedesInstagram:hover path{
   fill: #e1306c;
    
   
   
}

.contatoRedesYoutube:hover path{
   fill: #e61217;
}

@media (width <= 800px){
   .footerContainer{
      grid-template-columns: 1fr 1fr;
   }

   .footerLogo{
      display: none;
   }
}

@media (width <= 600px){
   .footerContainer{
      grid-template-columns: 1fr;
   }

   .footerCopy{
      margin: 0px;
   }
}